header{
  backdrop-filter: blur(10mm);
  border: none;
  margin: 0;
  padding: 1vh 1vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2mm #00000030;
  top:0;
  display:flex;
  align-items: center;
}

ul{
  list-style-type: none;
    display:flex;
}
li {
    margin: 1vh 1vw;
}
a{
  text-decoration: none;
}

section {
  backdrop-filter: blur(2mm);
  border: 0.5mm solid rgba(255, 255, 255, 0.3);
  margin: 2vh 2vw;
  /* padding: 1vh 1vw; */
  padding: 0;
  border-radius: 5mm;
  background: linear-gradient(#f7f7f730,#a9bcce30);
  box-shadow: 0 0 2mm #00000030;
  display: flexbox;
  overflow: hidden;
}

.solidblock{
    margin: 0;
    padding: 1vh 1vw;
    display:flexbox;
    background-color: aliceblue;
}
.transparentblock{
    margin: 0;
    padding: 1vh 1vw;
    display:flexbox;
    background-color: transparent;
}

button{
  background: linear-gradient(135deg,#f7f7f7,#f5faff);
  border-radius: 5mm;
  border: 0.5mm solid rgba(255, 255, 255, 0.3); 
  padding: 1vh 1vw;
}

img{
  border-radius: 5mm;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background:  linear-gradient(135deg, #e6f0ff 0%, #c9d6ff 100%);
}

* {
    font-size:1.05em;
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: rgb(26, 26, 26);
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}