:root {
  --dark-bg: linear-gradient(135deg, #292929 0%, #141414 100%);
  --light-bg: linear-gradient(135deg, #e6f0ff 0%, #c9d6ff 100%); 
  --dark-text: #e4e4e4; 
  --light-text: #242424;
}

html.light *{
  color: var(--light-text);
}
html.dark *{
  color: var(--dark-text);
}

header{
  backdrop-filter: blur(20mm);
  border: none;
  margin: 0;
  padding: 1vh 2vh;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2mm #00000030;
  top:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
#headerMain{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
#headerMain > *{
  margin: 0 2vh;
}

ul{
  list-style-type: none;
    display:flex;
}
li {
    margin: 1vh 1vw;
}
a{
  text-decoration: none;
}

section {
  backdrop-filter: blur(2mm);
  border: 0.5mm solid rgba(255, 255, 255, 0.3);
  margin: 1vh 1vh;
  /* padding: 1vh 1vw; */
  padding: 0;
  border-radius: 5mm;
  background: linear-gradient(#f7f7f730,#a9bcce30);
  box-shadow: 0 0 2mm #00000030;
  display: flexbox;
  overflow: hidden;
}

html.light div.solidblock{
    margin: 0;
    padding: 1vh 1vh;
    display:flexbox;
    background:  var(--light-bg);
}
html.dark div.solidblock{
    margin: 0;
    padding: 1vh 1vh;
    display:flexbox;
    background:  var(--dark-bg);
}
div.transparentblock{
    margin: 0;
    padding: 1vh 1vh;
    display:flexbox;
    background-color: transparent;
}

html.light button{
  background:  var(--light-bg);
  border-radius: 5mm;
  border: 0.5mm solid rgba(255, 255, 255, 0.3); 
  padding: 1vh 1.5vh;
  cursor: pointer;
}
html.dark button{
  background:  var(--dark-bg);
  border-radius: 5mm;
  border: 0.5mm solid rgba(255, 255, 255, 0.3); 
  padding: 1vh 1.5vh;
  cursor: pointer;
}

img{
  border-radius: 5mm;
  max-width: 100%;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#articles{
  max-width: 99vw;
 display:flexbox;
 width: fit-content;
}

html.light body{
    background:  var(--light-bg);
}
html.dark body{
    background:  var(--dark-bg);
}

* {
    font-size:1.05em;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#banners{
  max-height: 50vw;
  width:100vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
#banners > img{
  position: absolute;
  top: 0%;
  left: 50%;
  max-height: 50vw;
  height: 40vh;
  width: 71vh;
}

#rightschedule{
  display: flexbox;
  flex-direction: column;
  overflow: scroll;
}
#rightschedule > img{
  width: 30vh;
}